<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2 class="mb-4">
        <%= "#{@employee.firstname} #{@employee.lastname}" %>
      </h2>

      <div class="mb-4">
        <h5>CV</h5>
        <p>
          <%= link_to File.basename(@cv_file_path), employees_download_file_path(download_path: @cv_file_path), class: 'link-primary' %>
        </p>
      </div>

      <div class="mb-4">
        <h5>Photo</h5>
        <p>
          <%= link_to File.basename(@my_pic_file_path), employees_download_file_path(download_path: @my_pic_file_path), class: 'link-primary' %>
        </p>
      </div>

      <div class="mb-4">
        <h5>PAN Card</h5>
        <% if @employee.pan_card.attached? %>
          <%= image_tag url_for(@employee.pan_card), alt: "PAN Card", class: "img-thumbnail mt-2", width: 200 %>
        <% else %>
          <p class="text-muted mt-2">No PAN card uploaded.</p>
        <% end %>
      </div>

      <div class="mb-4">
        <h5>Certificates</h5>
        <% if @certificates.any? %>
          <ul class="list-group">
            <% @certificates.each do |certi| %>
              <li class="list-group-item">
                <%= link_to File.basename(certi), employees_download_file_path(download_path: certi), class: "text-decoration-none" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No certificates uploaded.</p>
        <% end %>
      </div>

      <%= link_to 'Back', employeeinfodetails_path, class: 'btn btn-secondary mt-3' %>

    </div>
  </div>
</div>
